*{
    box-sizing: border-box;
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    width : 100vw;
    height: 100vh;
    flex-direction: column;
}

.chatbox{
    height : 600px;
    width : 300px;
    
    
}

.chat-history{
    height : 90%;
    width : 100%;
    background-color: lightgray;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;

}
.chat-history > p{
    width : 90%;
    text-align: right;
    
    
}

.chat-input{
    display : flex;
    justify-content:center;
    align-items: center;
    height : 10%;
    width : 100%;
    background-color: grey;
}


.chat-input-form > input[type=text]{
    height : 30px;
    width : 200px;
}

.chat-input-form > input[type=submit]{
    height : 30px;
    background-color: black;
    color : white;
    border-radius : 0px 5px 10px 0px;
}


